In [6]:
import pymongo

In [7]:
from pymongo import MongoClient

In [8]:
client=MongoClient("localhost",27017)

# create database

In [11]:
db=client['mydb']
print("database created......")

database created......

In [13]:
print(client.list_database_names())

['admin', 'config', 'local', 'shani']

# create collection

In [16]:
collection=db["mycollection"]
print("collection created......")

collection created......

# insert documents

In [17]:
db=client['mydb']
col=db['mycollection']
doc1={"name":"shani","father_name":"dharmendra kumar","age":23,"graduation":"b.tech passout"}
col.insert_one(doc1)

In [20]:
col.find_one()

{'_id': ObjectId('5f9bb9114cd7f9efd9f96deb'),
 'name': 'shani',
 'father_name': 'dharmendra kumar',
 'age': 23,
 'graduation': 'b.tech passout'}

In [22]:
doc2=[
    {
        "name":"amit kumar",
        "age":19
    },
    {
        "name":"rahul",
        "age":32
    },
    {
        "name":"ajay",
        "age":21
    }
]

res=col.insert_many(doc2)

In [23]:
res.inserted_ids

[ObjectId('5f9bb9c74cd7f9efd9f96def'),
 ObjectId('5f9bb9c74cd7f9efd9f96df0'),
 ObjectId('5f9bb9c74cd7f9efd9f96df1')]

In [25]:
doc3=[
    {   "_id":101,
        "name":"ram lal",
        "age":19
    },
    {   "_id":102,
        "name":"panday ji",
        "age":32
    },
    {   "_id":103,
        "name":"ajay",
        "age":21
    }
]

res=col.insert_many(doc3)

In [26]:
res.inserted_ids

[101, 102, 103]

In [29]:
col.find_one()

{'_id': ObjectId('5f9bb9114cd7f9efd9f96deb'),
 'name': 'shani',
 'father_name': 'dharmendra kumar',
 'age': 23,
 'graduation': 'b.tech passout'}

In [27]:
for i in col.find():
    print(i)

{'_id': ObjectId('5f9bb9114cd7f9efd9f96deb'), 'name': 'shani', 'father_name': 'dharmendra kumar', 'age': 23, 'graduation': 'b.tech passout'}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dec'), 'name': 'amit kumar', 'age': 19}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96ded'), 'name': 'rahul', 'age': 32}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dee'), 'name': 'ajay', 'age': 21}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96def'), 'name': 'amit kumar', 'age': 19}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df0'), 'name': 'rahul', 'age': 32}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df1'), 'name': 'ajay', 'age': 21}
{'_id': 101, 'name': 'ram lal', 'age': 19}
{'_id': 102, 'name': 'panday ji', 'age': 32}
{'_id': 103, 'name': 'ajay', 'age': 21}

# find

In [30]:
for i in col.find({"name":"ajay"}):
    print(i)

{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dee'), 'name': 'ajay', 'age': 21}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df1'), 'name': 'ajay', 'age': 21}
{'_id': 103, 'name': 'ajay', 'age': 21}

In [31]:
for i in col.find({"age":{"$gt":21}}):
    print(i)

{'_id': ObjectId('5f9bb9114cd7f9efd9f96deb'), 'name': 'shani', 'father_name': 'dharmendra kumar', 'age': 23, 'graduation': 'b.tech passout'}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96ded'), 'name': 'rahul', 'age': 32}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df0'), 'name': 'rahul', 'age': 32}
{'_id': 102, 'name': 'panday ji', 'age': 32}

In [36]:
for i in col.find({"age":21}):
    print(i)

{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dee'), 'name': 'ajay', 'age': 21}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df1'), 'name': 'ajay', 'age': 21}
{'_id': 103, 'name': 'ajay', 'age': 21}

# sorting

In [37]:
for i in col.find().sort("age"):
    print(i)

{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dec'), 'name': 'amit kumar', 'age': 19}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96def'), 'name': 'amit kumar', 'age': 19}
{'_id': 101, 'name': 'ram lal', 'age': 19}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dee'), 'name': 'ajay', 'age': 21}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df1'), 'name': 'ajay', 'age': 21}
{'_id': 103, 'name': 'ajay', 'age': 21}
{'_id': ObjectId('5f9bb9114cd7f9efd9f96deb'), 'name': 'shani', 'father_name': 'dharmendra kumar', 'age': 23, 'graduation': 'b.tech passout'}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96ded'), 'name': 'rahul', 'age': 32}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df0'), 'name': 'rahul', 'age': 32}
{'_id': 102, 'name': 'panday ji', 'age': 32}

In [38]:
for i in col.find().sort("age",-1):
    print(i)

{'_id': ObjectId('5f9bb99c4cd7f9efd9f96ded'), 'name': 'rahul', 'age': 32}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df0'), 'name': 'rahul', 'age': 32}
{'_id': 102, 'name': 'panday ji', 'age': 32}
{'_id': ObjectId('5f9bb9114cd7f9efd9f96deb'), 'name': 'shani', 'father_name': 'dharmendra kumar', 'age': 23, 'graduation': 'b.tech passout'}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dee'), 'name': 'ajay', 'age': 21}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df1'), 'name': 'ajay', 'age': 21}
{'_id': 103, 'name': 'ajay', 'age': 21}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dec'), 'name': 'amit kumar', 'age': 19}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96def'), 'name': 'amit kumar', 'age': 19}
{'_id': 101, 'name': 'ram lal', 'age': 19}

# delete document

In [43]:
col.delete_one({"_id":"5f9bb99c4cd7f9efd9f96dec"})
print("data deleted.....")

data deleted.....

In [44]:
for i in col.find():
    print(i)

{'_id': ObjectId('5f9bb9114cd7f9efd9f96deb'), 'name': 'shani', 'father_name': 'dharmendra kumar', 'age': 23, 'graduation': 'b.tech passout'}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dec'), 'name': 'amit kumar', 'age': 19}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96ded'), 'name': 'rahul', 'age': 32}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96def'), 'name': 'amit kumar', 'age': 19}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df0'), 'name': 'rahul', 'age': 32}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df1'), 'name': 'ajay', 'age': 21}
{'_id': 101, 'name': 'ram lal', 'age': 19}
{'_id': 102, 'name': 'panday ji', 'age': 32}
{'_id': 103, 'name': 'ajay', 'age': 21}

# limit

In [45]:
for i in col.find().limit(3):
    print(i)

{'_id': ObjectId('5f9bb9114cd7f9efd9f96deb'), 'name': 'shani', 'father_name': 'dharmendra kumar', 'age': 23, 'graduation': 'b.tech passout'}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96dec'), 'name': 'amit kumar', 'age': 19}
{'_id': ObjectId('5f9bb99c4cd7f9efd9f96ded'), 'name': 'rahul', 'age': 32}

In [46]:
for i in col.find().limit(3).skip(2):
    print(i)

{'_id': ObjectId('5f9bb99c4cd7f9efd9f96ded'), 'name': 'rahul', 'age': 32}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96def'), 'name': 'amit kumar', 'age': 19}
{'_id': ObjectId('5f9bb9c74cd7f9efd9f96df0'), 'name': 'rahul', 'age': 32}

# update