In [27]:
import mysql.connector as conn

In [28]:
mydb=conn.connect(host="localhost",user="root",password="engineer")

In [29]:
print(mydb.connection_id)

11

In [30]:
cur=mydb.cursor()

In [31]:
cur.execute("show databases;")

In [14]:
for i in cur:
    print(i)

('college',)
('information_schema',)
('mysql',)
('performance_schema',)
('shani',)
('student',)
('sys',)

# or

In [21]:
result=cur.fetchall()

In [22]:
result

[('college',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('shani',),
 ('student',),
 ('sys',)]

In [32]:
fetchone=cur.fetchone()

In [33]:
print(fetchone)

('college',)

In [37]:
mydb=conn.connect(host="localhost",user="root",password="engineer",database="shani")

In [38]:
cur=mydb.cursor()

In [41]:
q="create table shani_details(qualification varchar(20),roll_no int,college varchar(20));"
cur.execute(q)

In [42]:
for i in cur:
    print(i)

In [ ]:
q="INSERT INTO shani_details (qualification,roll_no,college) VALUES(B.TECH,1613810080,BBS COLLEGE ALLAHABAD),(INTER)"

In [5]:
cur.execute('show databases;')

In [6]:
for i in cur.fetchall():
    print(i)

('college',)
('information_schema',)
('mysql',)
('performance_schema',)
('shani',)
('sys',)

# fecthall(),  fechone(),  fetchmany(n)

In [61]:
connection=conn.connect(host="localhost",user="root",password="engineer")

In [62]:
cur=connection.cursor()

In [38]:
cur.execute("show databases;")

In [39]:
cur.fetchall()

[('college',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('shani',),
 ('student',),
 ('sys',)]

In [63]:
cur.execute("use college;")

In [41]:
cur.execute("show tables;")

In [42]:
cur.fetchall()

[('customers',),
 ('customers1',),
 ('employee',),
 ('exam',),
 ('first_year',),
 ('orders',)]

In [43]:
cur.execute("select* from customers;")

In [44]:
result=cur.fetchall()

In [45]:
result

[(1, 'shani', 'shani@gmail.com'),
 (2, 'pradeep', 'pradeep@gmail.com'),
 (3, 'pooja', 'pooja@gmail.com'),
 (4, 'amit', 'amit@gmail.com'),
 (5, 'kajal', 'kajal@gmail.com'),
 (6, 'rahul', 'rahul@gmail.com'),
 (7, 'deelip', 'deelip@gmail.com'),
 (8, 'priyanshu', 'priyanshu@gmail.com'),
 (9, 'ajay', 'ajay@gmail.com')]

In [47]:
cur.execute("select* from customers;")

In [48]:
fetchone=cur.fetchone()

In [52]:
fetchone

(1, 'shani', 'shani@gmail.com')

In [64]:
cur.execute("select* from customers;")

In [65]:
fetchmany=cur.fetchmany(3)

In [66]:
fetchmany

[(1, 'shani', 'shani@gmail.com'),
 (2, 'pradeep', 'pradeep@gmail.com'),
 (3, 'pooja', 'pooja@gmail.com')]

In [69]:
cur.execute("select* from customers;")

InternalError: Unread result found