In [1]:
import mysql.connector as q

In [2]:
c=q.connect(host="localhost",user="root",password="engineer",database="college")

In [3]:
print(c)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022AFEFA9D30>

In [4]:
cur=c.cursor()

In [31]:
query="create table student(s_id int primary key Auto_Increment,s_name varchar(100),s_address varchar(100));"

In [32]:
cur.execute(query)

ProgrammingError: 1050 (42S01): Table 'student' already exists

In [33]:
cur.execute("show databases")

In [34]:
for i in cur:
    print(i)

('college',)
('guitar_store',)
('information_schema',)
('mysql',)
('performance_schema',)
('shani',)
('sys',)

In [41]:
cur.execute("select* from student")

In [43]:
for i in cur:
    print(i)

## querry

In [5]:
q='show tables;'

In [6]:
cur.execute(q)

In [7]:
for i in cur:
    print(i)

('exam',)
('first_year',)

In [8]:
q='select* from exam limit 3;'

In [9]:
cur.execute(q)

In [10]:
for i in cur:
    print(i)

(10, 'shani', 'math', 34.0)
(13, 'pradeep', 'math', 32.0)
(12, 'rahul', 'math', 10.0)

In [19]:
q='select name from exam where marks>(select marks from exam where name="pradeep");'

In [20]:
cur.execute(q)

In [21]:
for i in cur:
    print(i,end=" ")

('shani',) ('priyanshu',)