In [20]:
import mysql.connector as c

In [21]:
conn=c.connect(host="localhost",user="root",password="engineer")
print("connection establised....")

connection establised....

In [22]:
cur=conn.cursor()

In [23]:
cur.execute("show databases;")

In [24]:
print(cur.fetchall())

[('college',), ('information_schema',), ('mysql',), ('performance_schema',), ('shani',), ('sys',)]

In [25]:
cur.execute("use college;")

In [26]:
cur.execute("show tables;")

In [19]:
cur.fetchall()

[('customers',),
 ('customers1',),
 ('employee',),
 ('exam',),
 ('first_year',),
 ('orders',)]

In [27]:
a=cur.fetchone()
a

('customers',)

In [44]:
q='create table orders(id int not null,products varchar(20) not null,amounts int not null);'

In [45]:
cur.execute(q)

In [46]:
cur.execute("show tables;")

In [47]:
cur.fetchall()

[('customers',), ('exam',), ('first_year',), ('orders',)]

In [53]:
q='insert into orders values(1,"iphon 11 pro",72000),(2,"oppo a83",12000),(3,"vivo",13000),(4,"nokia 11 pro",17000),(5,"xiomi max pro",10500),(6,"redmi note 5",15500),(7,"real me pro",11700),(8,"opp max 5",22900),(9,"one plus 11",32900),(10,"readim not 4",6000),(11,"real me 3",10300),(12,"redmi 5",5400);'

In [54]:
cur.execute(q)

In [55]:
conn.commit()

In [56]:
 q='delete from customers where emailid in(72000,12000,13000,17000,10500,15500,11700,22900,32900,6000,10300,5400);'

In [57]:
cur.execute(q)

DataError: 1292 (22007): Truncated incorrect DOUBLE value: 'shani@gmail.com'