In [18]:
import sqlite3 as s

In [54]:
a=s.connect("students.db")

In [55]:
cur=a.cursor()

In [56]:
q="create table st(id int not null,name varchar(20) not null,subject varchar(20) not null,marks float not null);"

In [57]:
cur.execute(q)

In [58]:
q='insert into st values(1,"shani kumar","math",31),(2,"amit","math",34),(3,"rahul yadav","math",39),(4,"pooja","math",36),(5,"priya","math",23),(7,"anjali","math",31);'

In [59]:
cur.execute(q)

In [60]:
a.commit()

In [61]:
a.close()

# 2nd way

In [12]:
import sqlite3 as sq

In [13]:
c=sq.connect("new.db")

In [14]:
cur=c.cursor()

In [4]:
cur.execute("create table newtbl(accno int,mob int,name varchar(20))")

OperationalError: table newtbl already exists

In [5]:
cur.execute("insert into newtbl values(?,?,?)",(103,99367478,"ajay"))

In [6]:
cur.execute("select* from newtbl")

In [7]:
cur.fetchall()

[(103, 99367478, 'ajay')]

In [26]:
cur.execute("select name from newtbl where accno==?",(103,))

In [28]:
cur.fetchall()

[]

In [29]:
import sqlite3 as s
def querry(q):
    conn=s.connect("shani.db")
    cur=conn.cursor()
    cur.execute(q)
    conn.commit()
    conn.close()
    
def show_db(q):
    conn=s.connect("shani.db")
    cur=conn.cursor()
    cur.execute(q)
    c=cur.fetchall()
    return c

In [3]:
querry("create table newtbl(accno int,mob int,name varchar(20))")

In [4]:
querry("insert into newtbl values(101,9889,'shani')")

In [5]:
show_db("select* from newtbl")

[(101, 9889, 'shani')]

In [6]:
show_db("select* from newtbl")

[(101, 9889, 'shani')]

In [7]:
show_db("select name from newtbl where accno==101")

[('shani',)]

In [31]:
querry("select* from newtbl;")

In [32]:
show_db("select* from newtbl;")

[(101, 9889, 'shani')]