In [4]:
for row in range(9):
    for col in range(8):
        if (col==0 or col==7):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*      *
*      *
*      *
*      *
*      *
*      *
*      *
*      *
*      *

In [7]:
for row in range(9):
    for col in range(8):
        if (row==0 or row==8):
            print("*",end="")
        else:
            print(" ",end="")
    print()

********







********

In [11]:
for row in range(9):
    for col in range(8):
        if ((col==0 or col==7) and (row!=0)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*      *
*      *
*      *
*      *
*      *
*      *
*      *
*      *

In [25]:
for row in range(9):
    for col in range(8):
        if ((col==0 or col==7)) or ((row==0 or row==4)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

********
*      *
*      *
*      *
********
*      *
*      *
*      *
*      *

In [9]:
for row in range(9):
    for col in range(8):
        if ((col==0 or col==7) and row!=0) or (row==0 or row==4) and (col>0 and col<7):
            print("#",end="")
        else:
            print(" ",end="")
    print()

 ######
#      #
#      #
#      #
########
#      #
#      #
#      #
#      #

In [7]:
for row in range(9):
    for col in range(8):
        if (col>0 and col<7):
            print("#",end="")
        else:
            print(" ",end="")
    print()

 ######
 ######
 ######
 ######
 ######
 ######
 ######
 ######
 ######

In [25]:
for row in range(9):
    for col in range(8):
        if (col==0) or (col==7 and (row!=0 and row!=4 and row!=8)) or ((row==0 or row==4 or row==8) and (col>0 and col<7)):
            print("@",end="")
        else:
            print(" ",end="")
    print()

@@@@@@@
@      @
@      @
@      @
@@@@@@@
@      @
@      @
@      @
@@@@@@@

In [33]:
for row in range(9):
    for col in range(8):
        if ((col==0 or col==7) or (row==0 or row==8)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

********
*      *
*      *
*      *
*      *
*      *
*      *
*      *
********

In [38]:
for row in range(9):
    for col in range(8):
        if (col==0) or (row==0 or row==4 or row==8):
            print("*",end="")
        else:
            print(" ",end="")
    print()

********
*
*
*
********
*
*
*
********

In [40]:
for row in range(9):
    for col in range(8):
        if (col==0) or (row==0 or row==4):
            print("#",end="")
        else:
            print(" ",end="")
    print()

########
#
#
#
########
#
#
#
#

In [43]:
for row in range(9):
    for col in range(8):
        if (col==0 or col==7) or (row==4):
            print("#",end="")
        else:
            print(" ",end="")
    print()

#      #
#      #
#      #
#      #
########
#      #
#      #
#      #
#      #

In [71]:
for row in range(9):
    for col in range(8):
        if (row==0 or row==8  or col==3):
            print("#",end="")
        else:
            print(" ",end="")
    print()

########
   #
   #
   #
   #
   #
   #
   #
########

In [70]:
for row in range(9):
    for col in range(8):
        if (col==0 or row==8):
            print("#",end="")
        else:
            print(" ",end="")
    print()

#
#
#
#
#
#
#
#
########

In [68]:
for row in range(9):
    for col in range(8):
        if (col==0) or (row==0 or row==4) or (col==7) and (row!=5 and row!=6 and row!=7 and row!=8):
            print("#",end="")
        else:
            print(" ",end="")
    print()

########
#      #
#      #
#      #
########
#
#
#
#

In [69]:
for row in range(9):
    for col in range(8):
        if (col==0 or row==8) or ():
            print("#",end="")
        else:
            print(" ",end="")
    print()

#
#
#
#
#
#
#
#
########

In [ ]:
for row in range(9):
    for col in range(8):
        if (row==0 or col=):
            print("#",end="")
        else:
            print(" ",end="")
    print()

In [3]:
for i in range(1,9):
    for j in range(1,9):
        if (j==1 or j==8) or (i==j):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*      *
**     *
* *    *
*  *   *
*   *  *
*    * *
*     **
*      *

In [8]:
for i in range(1,9):
    for j in range(1,9):
        if (j==1 or j==8) or ():
            print("*",end="")
        else:
            print(" ",end="")
    print()

*      *
*      *
*      *
*      *
*      *
*      *
*      *
*      *

In [19]:
for i in range(1,10):
    for j in range(1,10):
        if (i>=j):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*
**
***
****
*****
******
*******
********
*********