In [1]:
import re

# compile

In [2]:
p=re.compile('[a-e]')  #  compile create regular exp character class [a-e] which is equivalent to [abcde]

In [3]:
p.findall("aye, said gibension stark")

['a', 'e', 'a', 'd', 'b', 'e', 'a']

In [8]:
p=re.compile("\d")

In [9]:
print(p.findall("i want to go school 10 o' clcok,to 9 "))

['1', '0', '9']

In [10]:
p=re.compile("\d")  # contains digits baki remove
print(p.findall("i want to go school 10 o' clcok,to 9 -54_$,% "))

['1', '0', '9', '5', '4']

In [11]:
p=re.compile("\D")  # digit hata ke baki sab  alphabet,symbol,whitespace 
print(p.findall("i want to go school 10 o' clcok,to 9 -54_$,% "))

['i', ' ', 'w', 'a', 'n', 't', ' ', 't', 'o', ' ', 'g', 'o', ' ', 's', 'c', 'h', 'o', 'o', 'l', ' ', ' ', 'o', "'", ' ', 'c', 'l', 'c', 'o', 'k', ',', 't', 'o', ' ', ' ', '-', '_', '$', ',', '%', ' ']

In [14]:
p=re.compile("\s")  # contains whitespace baki sab remove
print(p.findall("i want to go school 10 o' clcok,to 9 -54_$,% "))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [17]:
p=re.compile("\S+")  # whitespace hatake baki sab
print(p.findall("i want to go school 10 o' clcok,to 9 -54_$,% "))

['i', 'want', 'to', 'go', 'school', '10', "o'", 'clcok,to', '9', '-54_$,%']

In [10]:
p=re.compile("\A")  
print(p.findall("i want to go school 10 o' clcok,to 9 -54_$,% "))

['']

In [11]:
p=re.compile("\b")
print(p.findall("i want to go school 10 o' clcok,to 9 -54_$,% "))

[]

In [18]:
p=re.compile("\w+")   # contains alphabet,number,and under score baki sab remove whitespace symbol
print(p.findall("i want to go school 10 o' clcok,to 9 -54_$,% "))

['i', 'want', 'to', 'go', 'school', '10', 'o', 'clcok', 'to', '9', '54_']

In [19]:
p=re.compile("\W+")  # digit alphabet underscore hta ke baki sab
print(p.findall("i want to go school 10 o' clcok,to 9 -54_$,% "))

[' ', ' ', ' ', ' ', ' ', ' ', "' ", ',', ' ', ' -', '$,% ']

In [21]:
p=re.compile("\Z")
print(p.findall("i want to go school 10 o' clcok,to 9 -54_$,% "))

['']

In [15]:
p=re.compile("ab*")   #0 or more occurances
p.findall("ababbaabbb")

['ab', 'abb', 'a', 'abbb']

In [16]:
p=re.compile("a*b")   #0 or more occurances
p.findall("ababbaabbb")

['ab', 'ab', 'b', 'aab', 'b', 'b']

In [17]:
p=re.compile("ab")   #0 or more occurances
p.findall("ababbaabbb")

['ab', 'ab', 'ab']

In [18]:
p=re.compile("ab+")   #0 or more occurances
p.findall("ababbaabbb")

['ab', 'abb', 'abbb']

In [19]:
p=re.compile("abbb*")   #0 or more occurances
p.findall("ababbaabbb")

['abb', 'abbb']

In [20]:
p=re.compile("a*b")   #0 or more occurances  sigle b hoga but a nhi
p.findall("ababbaabbb")

['ab', 'ab', 'b', 'aab', 'b', 'b']

In [21]:
p=re.compile("a+b")   #1 or more occurances
p.findall("ababbaaabbb")

['ab', 'ab', 'aaab']

In [22]:
p=re.compile("abb+")   #1 or more occurances
p.findall("ababbaabbb")

['abb', 'abbb']

In [23]:
p=re.compile("abb") 
p.findall("ababbaabbb")

['abb', 'abb']

In [24]:
p=re.compile("ab?")   #0 or 1 occurances # a single ayega b nhi
p.findall("ababbaabbb")

['ab', 'ab', 'a', 'ab']

In [25]:
p=re.compile("a?b")   # #b sigle aayega a nhi
p.findall("ababbaabbb")

['ab', 'ab', 'b', 'ab', 'b', 'b']

In [26]:
p=re.compile("^ab")   #ab pahle se match krke result eturn karega
p.findall("ababbaabbb")

['ab']

In [27]:
p=re.compile("bb$")   #last se match krega result dega
p.findall("ababbaabbb")

['bb']

In [28]:
p=re.compile("[a-z]")   #0 or more occurances
p.findall("ababbaabbb")

['a', 'b', 'a', 'b', 'b', 'a', 'a', 'b', 'b', 'b']

In [29]:
p=re.compile("[1-2 a-z]")   #0 or more occurances
p.findall("ababbaabbb")

['a', 'b', 'a', 'b', 'b', 'a', 'a', 'b', 'b', 'b']

In [30]:
p=re.compile("ab..")   #0 or more occurances
p.findall("ababbaabbb")

['abab', 'abbb']

In [31]:
p=re.compile("a.b")   #0 or more occurances
p.findall("ababbaabbb")

['abb', 'aab']

In [32]:
p=re.compile("[\D]")   #0 or more occurances
p.findall("ababbaabbb")

['a', 'b', 'a', 'b', 'b', 'a', 'a', 'b', 'b', 'b']

In [33]:
p=re.compile("()")   #0 or more occurances
p.findall("ababbaabbb")

['', '', '', '', '', '', '', '', '', '', '']

In [34]:
p=re.compile("ab*")   #0 or more occurances
p.findall("ababbaabbb")

['ab', 'abb', 'a', 'abbb']

# example

In [23]:
nameage='''my name is Shani and my age is 22
and my brother Amit age is 19'''

In [24]:
re.findall(r"\d{1,3}",nameage)  # find age numeric[1  ho ya 2 digits]

['22', '19']

In [26]:
nameage='''my name is Shani and my age is 22
and my brother Amit age is 19'''
name=re.findall(r'[A-Z][a-z]+',nameage)  # find name starting capital uskebad small
name

['Shani', 'Amit']

In [27]:
nameage='''my name is Shani and my age is 22
and my brother Amit age is 19'''
age=re.findall(r"\d{1,3}",nameage)
name=re.findall(r'[A-Z][a-z]*',nameage)  # find name starting capital uskebad small
dict={}
x=0
for i in name:
    dict[i]=age[x]
    x+=1
print(dict)

{'Shani': '22', 'Amit': '19'}

In [32]:
nameage='''my name is Shani and my age is 22
and my brother Amit age is 19'''
age=re.findall(r"\d{1,3}",nameage)
name=re.findall(r'[A-Z][a-z]*',nameage)
d={i:j for (i,j) in zip(name,age) }

In [33]:
print(d)

{'Shani': '22', 'Amit': '19'}

## search

In [41]:
a=re.search('inform',"we need to inform rahul ")

In [42]:
a

In [43]:
a.group()

'inform'

In [44]:
b=re.match('inform',"we need to inform rahul ")

In [45]:
str="we need to inform him with the latest information"
for i in re.finditer("inform",str):
    loc=i.span()
    print(loc)

(11, 17)
(38, 44)

In [46]:
str="sta,mat,pat,cat"
allstr=re.findall("[shmap]at",str)
print(allstr)

['mat', 'pat']

In [116]:
str="sta,mat,pat,cat"
allstr=re.findall("[^c-m]at",str)   # c se m nhi chahiye start me
print(allstr)

['pat']

# substitute

In [48]:
food="hat rat mat pat"
reg=re.compile('[r]at')
reg.sub("food",food)

'hat food mat pat'

In [49]:
a="333-999-333 is a phone no and 222-567-998 is second phone no 223-980-678"

In [50]:
re.findall('\d{3}-\d{3}-\d{3}',a)

['333-999-333', '222-567-998', '223-980-678']

In [51]:
re.findall('\d{1,4}-\d{1,4}-\d{1,4}',a)

['333-999-333', '222-567-998', '223-980-678']

In [52]:
a="Amit9988@gmail.com is a phone no and shanikumar0009@gmail.com is second phone no pradeep67@gmail.com"

In [187]:
re.findall("\d+",a)

['9988', '0009', '67']

In [184]:
re.findall("\S+@\S+",a)

['Amit9988@gmail.com', 'shanikumar0009@gmail.com', 'pradeep67@gmail.com']

In [54]:
re.findall("\S+",a)

['Amit9988@gmail.com',
 'is',
 'a',
 'phone',
 'no',
 'and',
 'shanikumar0009@gmail.com',
 'is',
 'second',
 'phone',
 'no',
 'pradeep67@gmail.com']

# regular expression in dataframe

In [55]:
import pandas as pd

In [62]:
dt=pd.read_csv("spam.tsv",sep="\t")
dt.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [85]:
dt.label.str.extract(r"([amh]..)")

        0
0     ham
1     ham
2     NaN
3     ham
4     ham
5     NaN
6     ham
7     ham
8     NaN
9     NaN
10    ham
11    NaN
12    NaN
13    ham
14    ham
15    NaN
16    ham
17    ham
18    ham
19    NaN
20    ham
21    ham
22    ham
23    ham
24    ham
25    ham
26    ham
27    ham
28    ham
29    ham
...   ...
5542  ham
5543  ham
5544  ham
5545  ham
5546  ham
5547  NaN
5548  ham
5549  ham
5550  ham
5551  ham
5552  ham
5553  ham
5554  ham
5555  ham
5556  ham
5557  ham
5558  ham
5559  ham
5560  ham
5561  ham
5562  ham
5563  ham
5564  ham
5565  ham
5566  NaN
5567  NaN
5568  ham
5569  ham
5570  ham
5571  ham

[5572 rows x 1 columns]

In [94]:
dt.message.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: message, dtype: object

In [206]:
dt.message.str.findall(r"[0-9]+")

0                                             []
1                                             []
2          [2, 21, 2005, 87121, 08452810075, 18]
3                                             []
4                                             []
5                                     [3, 1, 50]
6                                             []
7                                            [9]
8                    [900, 09061701461, 341, 12]
9                              [11, 08002986030]
10                                            []
11      [100, 20, 000, 11, 87575, 150, 6, 16, 4]
12          [1, 100, 000, 81010, 4403, 1, 7, 18]
13                                            []
14                                            []
15                                            []
16                                            []
17                                           [2]
18                                            []
19       [87077, 87077, 4, 1, 20, 36504, 45, 16]
20                                            []
21                                           [2]
22                                            []
23                                           [3]
24                                            []
25                                            []
26                                            []
27                                            []
28                                            []
29                                            []
                          ...
5542                                          []
5543                                          []
5544                                          []
5545                                          []
5546                                          []
5547                                        [11]
5548                                          []
5549                                          []
5550                                          []
5551                                          []
5552                                          []
5553                                          []
5554                                          []
5555                                [4, 2, 2, 4]
5556                                          []
5557                                         [4]
5558                                          []
5559                                          []
5560                                          []
5561                                          []
5562                                         [2]
5563                                         [6]
5564                                          []
5565                                          []
5566                               [2, 2, 50, 2]
5567         [2, 2, 750, 2, 087187272008, 1, 10]
5568                                          []
5569                                          []
5570                                          []
5571                                          []
Name: message, Length: 5572, dtype: object

In [200]:
dt.message.str.findall(r"[A-Z][a-z]+")

0                                   [Go, Available, Cine]
1                                            [Ok, Joking]
2                                  [Free, Cup, May, Text]
3                                                      []
4                                                   [Nah]
5                                [Free, Msg, Hey, Tb, Xx]
6                                            [Even, They]
7       [As, Melle, Melle, Oru, Minnaminunginte, Nurun...
8                                  [As, To, Claim, Valid]
9       [Had, Update, Free, Call, The, Mobile, Update,...
10                                                     []
11                         [From, Cost, Tsand, Cs, Reply]
12                         [You, Prize, Jackpot, Txt, No]
13                                                  [You]
14                                                     []
15                              [Mobile, Movie, Club, To]
16                                                   [Oh]
17                                          [Eh, Yes, He]
18                                           [Fine, That]
19                    [England, Macedonia, Txt, Try, Xox]
20                                                   [Is]
21                                                     []
22                                             [So, Then]
23                                             [Aft, Ard]
24                                  [Ffffffffff, Alright]
25                            [Just, This, Mark, He, Lol]
26                                                  [Lol]
27                         [Did, Are, Did, Are, Do, Love]
28                                                     []
29                                [Ahhh, Work, What, Lol]
                              ...
5542                                             [Armand]
5543                                                   []
5544                                                   []
5545                                                 [Hi]
5546                                          [Ic, There]
5547    [Had, Mnths, Latest, Motorola, Nokia, Double, ...
5548                                                 [No]
5549                                    [You, We, Cribbs]
5550                                               [Cool]
5551                                          [Wen, That]
5552                                [Have, Nigeria, Wish]
5553                                             [Hahaha]
5554                                               [Well]
5555            [Yeh, Indians, Tho, We, Mite, Love, Pete]
5556                                     [Yes, So, Pshew]
5557                 [No, That, This, Have, Because, And]
5558                                              [Sorry]
5559                                                   []
5560                                      [Anything, Juz]
5561                                            [Get, My]
5562                                           [Ok, Sony]
5563                                                [Ard]
5564                                                [Why]
5565                                                [Huh]
5566                                                 [To]
5567                                  [This, Pound, Only]
5568                                               [Will]
5569                                           [Pity, So]
5570                                                [The]
5571                                          [Rofl, Its]
Name: message, Length: 5572, dtype: object

In [193]:
dt.message.str.findall(r"Go \S+ ju\S+")

0       [Go until jurong]
1                      []
2                      []
3                      []
4                      []
5                      []
6                      []
7                      []
8                      []
9                      []
10                     []
11                     []
12                     []
13                     []
14                     []
15                     []
16                     []
17                     []
18                     []
19                     []
20                     []
21                     []
22                     []
23                     []
24                     []
25                     []
26                     []
27                     []
28                     []
29                     []
              ...
5542                   []
5543                   []
5544                   []
5545                   []
5546                   []
5547                   []
5548                   []
5549                   []
5550                   []
5551                   []
5552                   []
5553                   []
5554                   []
5555                   []
5556                   []
5557                   []
5558                   []
5559                   []
5560                   []
5561                   []
5562                   []
5563                   []
5564                   []
5565                   []
5566                   []
5567                   []
5568                   []
5569                   []
5570                   []
5571                   []
Name: message, Length: 5572, dtype: object

In [154]:
dt.message.str.findall(r"(j\S+)")

0         [jurong]
1               []
2               []
3               []
4               []
5               []
6               []
7               []
8               []
9               []
10              []
11              []
12              []
13              []
14              []
15              []
16              []
17              []
18              []
19              []
20              []
21        [joking]
22              []
23              []
24              []
25              []
26              []
27              []
28              []
29              []
           ...
5542            []
5543      [jacket]
5544        [just]
5545            []
5546            []
5547            []
5548            []
5549    [jumpers,]
5550            []
5551            []
5552            []
5553            []
5554            []
5555            []
5556            []
5557        [just]
5558            []
5559            []
5560            []
5561            []
5562            []
5563            []
5564            []
5565            []
5566            []
5567            []
5568            []
5569            []
5570            []
5571            []
Name: message, Length: 5572, dtype: object

In [133]:
dt.message.str.findall(r"\d+")

0                                             []
1                                             []
2          [2, 21, 2005, 87121, 08452810075, 18]
3                                             []
4                                             []
5                                     [3, 1, 50]
6                                             []
7                                            [9]
8                    [900, 09061701461, 341, 12]
9                              [11, 08002986030]
10                                            []
11      [100, 20, 000, 11, 87575, 150, 6, 16, 4]
12          [1, 100, 000, 81010, 4403, 1, 7, 18]
13                                            []
14                                            []
15                                            []
16                                            []
17                                           [2]
18                                            []
19       [87077, 87077, 4, 1, 20, 36504, 45, 16]
20                                            []
21                                           [2]
22                                            []
23                                           [3]
24                                            []
25                                            []
26                                            []
27                                            []
28                                            []
29                                            []
                          ...
5542                                          []
5543                                          []
5544                                          []
5545                                          []
5546                                          []
5547                                        [11]
5548                                          []
5549                                          []
5550                                          []
5551                                          []
5552                                          []
5553                                          []
5554                                          []
5555                                [4, 2, 2, 4]
5556                                          []
5557                                         [4]
5558                                          []
5559                                          []
5560                                          []
5561                                          []
5562                                         [2]
5563                                         [6]
5564                                          []
5565                                          []
5566                               [2, 2, 50, 2]
5567         [2, 2, 750, 2, 087187272008, 1, 10]
5568                                          []
5569                                          []
5570                                          []
5571                                          []
Name: message, Length: 5572, dtype: object

In [182]:
dt.message.str.findall("jurong \S+")

0       [jurong point,]
1                    []
2                    []
3                    []
4                    []
5                    []
6                    []
7                    []
8                    []
9                    []
10                   []
11                   []
12                   []
13                   []
14                   []
15                   []
16                   []
17                   []
18                   []
19                   []
20                   []
21                   []
22                   []
23                   []
24                   []
25                   []
26                   []
27                   []
28                   []
29                   []
             ...
5542                 []
5543                 []
5544                 []
5545                 []
5546                 []
5547                 []
5548                 []
5549                 []
5550                 []
5551                 []
5552                 []
5553                 []
5554                 []
5555                 []
5556                 []
5557                 []
5558                 []
5559                 []
5560                 []
5561                 []
5562                 []
5563                 []
5564                 []
5565                 []
5566                 []
5567                 []
5568                 []
5569                 []
5570                 []
5571                 []
Name: message, Length: 5572, dtype: object