In [2]:
import csv

In [71]:
import pandas as pd

c:\users\hp\appdata\local\programs\python\python36\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [75]:
df=pd.read_csv('f:/deep learning ducat/dataset/abc.csv')
df

     name  age  roll
0    sonu   20   101
1    monu   21   102
2  chintu   10   103
3   pintu   25   104

In [127]:

with open("f:/deep learning ducat/dataset/abc.csv") as csvfile:
    file=csv.reader(csvfile,delimiter=",")
    for row in file:
        print(row[0],row[1],row[2])

name age roll
sonu 20 101
monu 21 102
chintu 10 103
pintu 25 104

In [89]:
name=[]
roll_no=[]
with open("f:/deep learning ducat/dataset/abc.csv") as csvfile:
    file=csv.reader(csvfile,delimiter=",")
    for row in file:
        name.append(row[0])
        roll_no.append(row[2])

In [90]:
print(name,roll_no)

['name', 'sonu', 'monu', 'chintu', 'pintu'] ['roll', '101', '102', '103', '104']

In [12]:
data={}
with open("f:/deep learning ducat/dataset/abc.csv") as csvfile:
    file=csv.reader(csvfile,delimiter=",")
    for row in file:
        data['k']=row[2]
    
print(data)

{'k': '104'}

In [114]:
a=[1,2,3,4,3,2,6,9,0,5][::-1]
print(a)

[5, 0, 9, 6, 2, 3, 4, 3, 2, 1]