In [4]:
tuple=(1,2,3,4,5,6,7,8)
tuple

(1, 2, 3, 4, 5, 6, 7, 8)

In [5]:
type(tuple)

tuple

# convert tuple to list

In [8]:
a=(list(tuple))

In [9]:
type(a)

list

# convert string to list

In [1]:
str="my name is shani"
print(str)

my name is shani

In [19]:
print(list(str))

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 's', 'h', 'a', 'n', 'i']

In [20]:
print(list(str.split()))

['my', 'name', 'is', 'shani']

In [23]:
print((str.split()))

['my', 'name', 'is', 'shani']

# convert list to string

In [6]:
x=["shani"]

In [2]:
a=["my","name","is","shani"]

In [3]:
a

['my', 'name', 'is', 'shani']

In [4]:
str(a)

TypeError: 'str' object is not callable

In [62]:
a=print(" ".join(a))

my name is shani

In [63]:
import functools as f
import operator

In [64]:
a=["my","name","is","shani"]

In [69]:
f.reduce(operator.add,a)

'mynameisshani'

# convert tuple to string

In [53]:
a=("a","b","c")

In [54]:
print("".join(a))

abc

In [55]:
import functools as f
import operator

In [57]:
f.reduce(operator.add,(a))

'abc'

# reduce fuction

In [72]:
f.reduce(operator.add,a)

'mynameisshani'

In [73]:
f.reduce(operator.concat,a)

'mynameisshani'

In [83]:
b=[1,2,3,4,5,6]

In [98]:
str="my name is shani"

# filter function

filter function filter karke deta hai condition pe jo condition doge use hata ke list dega

In [114]:
a=["my",1,2,3]
s=filter(lambda x:x!="my",a)
for i in s:
    print(i)

1
2
3

In [116]:
a=[1,2,3,4,5]
s=filter(lambda x:x%2==1,a)
for i in s:
    print(i)

1
3
5

# list to dictionary

In [8]:
a=["a",1,"b",2,"c",3]

using dictionary comprehension

In [30]:
def convert(a):
    it=iter(lst)
    res_dct=dict(zip(it,it))
    return res_dct
lst=["a",1,"b",2,"c",3]
print(convert(lst))

{'a': 1, 'b': 2, 'c': 3}

# dictinary to list

In [22]:
a={"a" :1,"b":2,"c":3}

In [14]:
list(a)

['a', 'b', 'c']

 using list comprehension

In [16]:
list=[(k,v) for k,v in a.items()]

In [17]:
list

[('a', 1), ('b', 2), ('c', 3)]

zip function

In [32]:
a.values()

dict_values([1, 2, 3])

In [44]:
z=zip(a.keys(),a.values())
for i in z:
    print(i,end=" ")

('a', 1) ('b', 2) ('c', 3)

In [29]:
list(z)

TypeError: 'list' object is not callable