# nested for loop in python

In [1]:
for i in range(1,8):
    print(i)
    for j in range(1,8):
        print(j,end="")  # end =" " means jo next time print hoga vo ek hi line me hoga new line me nhi
    print()

1
1234567
2
1234567
3
1234567
4
1234567
5
1234567
6
1234567
7
1234567

In [4]:
for i in range(1,5):
    for j in range(2,8):
        print(j,end=" ")
    print()  

# loop 5 bar chalega jisme se 1st time j ki har value print karega ek ek karke  2nd time  J ki har value print karega aise karta jayega.

2 3 4 5 6 7
2 3 4 5 6 7
2 3 4 5 6 7
2 3 4 5 6 7

In [8]:
for i in range(1,5):
    for j in range(2,8):
        print(i,j)
    print() 
# loop 5 bar chalege jisme se 1st time 1 ke liye print karega har value j ki 2nd time  2 ke liya j ki har value print karega ek ek karke

1 2
1 3
1 4
1 5
1 6
1 7

2 2
2 3
2 4
2 5
2 6
2 7

3 2
3 3
3 4
3 5
3 6
3 7

4 2
4 3
4 4
4 5
4 6
4 7

In [19]:

for i in range(1,5):
    for j in range(2,5):
        print(i,j,end=" ")
    print()
# loop 5 bar chlega 1st time i ki ek value ke liye j ki har value waise 2nd time i ki 2 value ke liye j ki har value.
# yha par end =" " karne par sab ek line me aa jayega.

1 2 1 3 1 4
2 2 2 3 2 4
3 2 3 3 3 4
4 2 4 3 4 4

In [33]:
for i in range(1,5):
    for j in range(i):
#         print(i,j,end=" ")
     print(i)
# yaha j me i ki total value gyi ab jitni bar i ki value j me hogi utna print karega
# mean j me 1 ke liye 1 bar j me 2 ke liye 2 bar j me 3 ke liye 3 bar

1
2
2
3
3
3
4
4
4
4

In [39]:
for i in range(1,5):
    for j in range(i):  # j me 0 to 4 [0,1,2,3,4]  and  [1,2,3,4] loop  hai matlab ye loop ha i value ek bar 2 bar 3 bar aur 4 bar chalegi 
        print(i,j,end=" ")
    print()
# first time chlege to print karega i ki 1 bar 1,0 and second bar 2,0 aur 2,1,three time 3,0,  3,1,  3,2  ise 4 ke liye

1 0
2 0 2 1
3 0 3 1 3 2
4 0 4 1 4 2 4 3

In [41]:
for i in range(1,5):
    for j in range(1,i):  # j me 1 se 4 hai matlab [1,2,3] hai aur loop [1,2,3,4] hai. 
        print(j,end=" ")
    print()

1
1 2
1 2 3

In [46]:
n=1
for i in range(1,5):
    for i in range(1,4):# 5 bar loop chalega jisme se panhi bar 1 aur dusri bar two aur 3 bar 3 time chalega.
        print(n,end=" ")
        n+=1
    print(n)

1 2 3 4
4 5 6 7
7 8 9 10
10 11 12 13

In [2]:
for i in range(1,11):
    for j in range(2,11):
        print("%5d" %(i*j),end=" ")
    print()

    2     3     4     5     6     7     8     9    10
    4     6     8    10    12    14    16    18    20
    6     9    12    15    18    21    24    27    30
    8    12    16    20    24    28    32    36    40
   10    15    20    25    30    35    40    45    50
   12    18    24    30    36    42    48    54    60
   14    21    28    35    42    49    56    63    70
   16    24    32    40    48    56    64    72    80
   18    27    36    45    54    63    72    81    90
   20    30    40    50    60    70    80    90   100

In [71]:
l1=[10,20,30,40,50]
l2=[10]
for i in l1:
    for j in l2:
        print(f"{i}+{j} = {i+j}",end="")
    print()

10+10 = 20
20+10 = 30
30+10 = 40
40+10 = 50
50+10 = 60

In [73]:
for i in range(1,10):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********

In [74]:
for i in range(1,10):
    for j in range(i+2):
        print("*",end="")
    print()

***
****
*****
******
*******
********
*********
**********
***********

In [75]:
for i in range(1,10):
    for j in range(10-i):
        print("*",end="")
    print()

*********
********
*******
******
*****
****
***
**
*

In [91]:
k=1
for i in range(1,10):
    for j in range(k):
        print("*",end="")
    k=k+1
    print()

*
**
***
****
*****
******
*******
********
*********

In [115]:
def pattern(n):
    for i in range(n):
        for j in range(i):
            print("*",end="")
        print()
pattern(8)
pattern(10)
pattern(14)

*
**
***
****
*****
******
*******

*
**
***
****
*****
******
*******
********
*********

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************

In [114]:
def pattern(n):
    for i in range(n):
        for j in range(n-i):
            print("*",end="")
        print()
pattern(8)
pattern(10)
pattern(14)

********
*******
******
*****
****
***
**
*
**********
*********
********
*******
******
*****
****
***
**
*
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [25]:
for i in range(5):
    print(i)
    for j in range(4):
        print("Shani")  # means shani 4 bar 5 time print karega
    print()

0
Shani
Shani
Shani
Shani

1
Shani
Shani
Shani
Shani

2
Shani
Shani
Shani
Shani

3
Shani
Shani
Shani
Shani

4
Shani
Shani
Shani
Shani

In [41]:
for i in range(5):
    for j in range(i):
        print("Shani")  # means shani 1st time 1 and 2nd time 2 3rd time 3 bar print karega
    print()

Shani

Shani
Shani

Shani
Shani
Shani

Shani
Shani
Shani
Shani

In [40]:
for i in range(5):
    for j in range(i):
        a=2
        b=3
        c=a+b
        print(j,c,end=" ")
    print()

0 5
0 5 1 5
0 5 1 5 2 5
0 5 1 5 2 5 3 5