# zip

dono ko ek me badh deta hai.

In [1]:
l=[1,2,3,4,5]
l1=["a","b","c","d"]

In [2]:
list=print(list(zip(l,l1)))
list

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [3]:
print(dict(zip(l,l1)))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [29]:
print(tuple(zip(l,l1)))

((1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'))

# map 
maping karna matlab list dict,str,iteratbe series ki value ko change karna

In [45]:
def add(n):
    return (n+n)
l=[1,2,3,4,5,6,7,8]
result=map(add,l)

In [99]:
l=[1,2,3,4,5,6]
y=map(lambda x:x*2,l)
for i in range(len(l)):
    print(next(y),end=",")

2,4,6,8,10,12,

In [106]:
l=[1,2,3,4,5,6]
y=map(lambda x:x*2,l)
for i in l:
    print(next(y),end=",")

2,4,6,8,10,12,

# enumerate

In [104]:
x=("apple","banana","cherry")
y=enumerate(x)
for i in x:
    print(next(y))

(0, 'apple')
(1, 'banana')
(2, 'cherry')

In [117]:
l=(1,2,3,4,5)
a=map(lambda x:x*2,l)
print(a)

<map object at 0x0000019D2E121C18>

# list comprehesion

In [118]:
s=[]
for i in range(4):
    s.append(i**2)
print(s)

[0, 1, 4, 9]

In [120]:
s1=[i**2 for i in range(5)]
print(s)

[0, 1, 4, 9]

In [131]:
s2=[i**3 for i in range(10)]

In [132]:
s2

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

# eval function

In [1]:
a=10
b=20
eval("a+b")

30

In [3]:
d=eval("20+3")
print(d)

23

In [4]:
eval('2**3')

8

In [5]:
a=90
b=20
c=20
eval("a+b**2+c")

510

# filter function

In [14]:
a=[1,2,3,4,5,6]
d=filter(lambda x:x%2,a)
for i in d:
    print(i)

1
3
5

In [17]:
a=[1,2,3,4,5,6]
d=map(lambda x:x%2,a)
for i in d:
    print(i)

1
0
1
0
1
0